<div class="p-4">
  <div class="mb-4">
    <label for="patientId" class="block mr-2">Enter Patient ID:</label>
    <input
      type="text"
      id="patientId"
      [(ngModel)]="patientId"
      class="border rounded px-3 py-2 mr-3"
    />
    <button
      (click)="patientId !== null && searchPatient(patientId.toString())"
      class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Search
    </button>
  </div>

  <div *ngIf="patientFound" class="mb-4">
    <div class="bg-gray-100 rounded-md p-4">
      <h2 class="text-xl font-bold mb-2">Patient Details</h2>
      <div class="grid grid-cols-3 gap-4">
        <div>
          <p class="font-bold">Patient ID:</p>
          <p>{{ patient.id }}</p>
        </div>
        <div>
          <p class="font-bold">Name:</p>
          <p>{{ patient.name }}</p>
        </div>
        <div>
          <p class="font-bold">Age:</p>
          <p>{{ patient.age }}</p>
        </div>
      </div>

      <h3 class="text-lg font-bold mt-4">Medical History</h3>
      <div class="grid grid-cols-1 gap-4 mt-2">
        <div class="bg-white shadow-md rounded-md p-4">
          <p class="font-bold">Chronic Diseases:</p>
          <ul class="list-disc ml-4">
            <li *ngFor="let disease of patient.medicalHistory.chronicDiseases">
              {{ disease }}
            </li>
          </ul>
        </div>
        <div class="bg-white shadow-md rounded-md p-4">
          <p class="font-bold">Allergies:</p>
          <ul class="list-disc ml-4">
            <li *ngFor="let allergy of patient.medicalHistory.allergies">
              {{ allergy }}
            </li>
          </ul>
        </div>
        <div class="bg-white shadow-md rounded-md p-4">
          <p class="font-bold">Surgeries:</p>
          <ul class="list-disc ml-4">
            <li *ngFor="let surgery of patient.medicalHistory.surgeries">
              {{ surgery }}
            </li>
          </ul>
        </div>
        <div class="bg-white shadow-md rounded-md p-4">
          <p class="font-bold">Medications:</p>
          <table class="w-full border-collapse border">
            <thead>
              <tr>
                <th class="px-4 py-2 font-bold border">Name</th>
                <th class="px-4 py-2 font-bold border">Dosage</th>
                <th class="px-4 py-2 font-bold border">Frequency</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medication of patient.medicalHistory.medications.medicine" class="bg-white">
                <td class="px-4 py-2 border">{{ medication.medicineName }}</td>
                <td class="px-4 py-2 border">{{ medication.dosage }}</td>
                <td class="px-4 py-2 border">{{ medication.frequency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        

        <div class="bg-white shadow-md rounded-md p-4">
          <h3 class="text-lg font-bold mt-4">Old Prescriptions</h3>
          <ul class="list-disc ml-4">
            <li *ngFor="let prescription of oldPrescriptions">
              {{ prescription }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!patientFound && searchPerformed" class="mb-4">
    <p>No patient found with ID: {{ patientId }}</p>
  </div>

  <div *ngIf="patientFound" class="mb-4">
    <button
      (click)="toggleReportSection()"
      class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Toggle Report Section
    </button>

    <div *ngIf="showReportSection" class="mt-4">
      <app-doctor-report
        (reportSubmitted)="handleReportSubmission($event)"
        (prescriptionAdded)="handlePrescriptionAdded($event)"
      ></app-doctor-report>
    </div>
  </div>
</div>
