<app-hero></app-hero>
<div class="container mt-5">
  <!-- Increase top margin -->
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Welcome to Our Health Management System</h1>
      <p>
        Our Health Management System is designed to streamline the management of
        patient records, prescriptions, and medical histories. With our system,
        doctors and patients can easily access and update their information,
        improving communication and efficiency in healthcare delivery.
      </p>
      <h2>Key Features</h2>
      <ul>
        <li>feature 1</li>
        <li>feature 2</li>
        <li>feature 3</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
        <li>feature 4</li>
      </ul>
      <a href="/about" class="btn btn-primary">Learn More</a>
    </div>
  </div>
</div>













