<h2>Insurance</h2>

<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Balance Column -->
    <ng-container matColumnDef="balance">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Balance </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.balance}} </mat-cell>
    </ng-container>

    <!-- Claimed Column -->
    <ng-container matColumnDef="claimed">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Claimed </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.claimed}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewPrescriptions(row.id)"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
