<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="/assets/logo.png" alt="Logo" class="img-fluid">
      </a>

      <div class="flex-grow-1"></div>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
          </ul>
          <a class="btn btn-primary my-2 my-lg-0" href="/login">Login</a>
      </div>
  </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/assets/logo.png" alt="Logo" class="img-fluid">
        </a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ng-container *ngIf="isLoggedIn; else loginButton">
              <button class="btn btn-primary my-2 my-lg-0" (click)="logout()">Logout</button>
            </ng-container>
            <ng-template #loginButton>
              <a class="btn btn-primary my-2 my-lg-0" href="/login">Login</a>
            </ng-template>
        </div>
    </div>
  </nav> -->

  <!-- <nav class="navbar navbar-expand-lg justify-content-between fixed-top" [ngClass]="{ 'navbar-light': !isTransparent, 'navbar-dark': isTransparent }" [ngStyle]="{ 'background-color': isTransparent ? 'transparent' : 'light' }"> -->
<!-- <nav class="navbar navbar-expand-lg justify-content-between fixed-top" [ngClass]="{ 'navbar-light': !isTransparent, 'navbar-dark': isTransparent }" [ngStyle]="{ 'background-color': isTransparent ? 'transparent' : '#ffffff', 'border': !isTransparent ? '1px solid #e0e0e0' : 'none' }">

    <div class="container">  
    <a class="navbar-brand" href="#">
        <img src="/assets/logo.png" alt="Logo" class="img-fluid">
      </a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
        <ng-container *ngIf="isLoggedIn; else loginButton">
          <button class="btn btn-primary my-2 my-lg-0" (click)="logout()">Logout</button>
        </ng-container>
        <ng-template #loginButton>
          <a class="btn btn-primary my-2 my-lg-0" href="/login">Login</a>
        </ng-template>
      </div>
    </div>
  </nav>
   -->


  
   
   <nav class="navbar navbar-expand-md navbar-dark bg-dark">
     <div class="container-fluid">
       <!-- Logo -->
       <a class="navbar-brand" href="#">
         <img src="your-logo.png" alt="Your Logo" height="30">
       </a>
   
       <!-- Toggler/collapsibe Button -->
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
         <span class="navbar-toggler-icon"></span>
       </button>
   
       <!-- Navbar links -->
       <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
         <ul class="navbar-nav">
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="#">Home</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">About</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Login</a>
           </li>
           <!-- Optionally, you can add a logout button when the user is logged in -->
           <!-- <li class="nav-item">
             <a class="nav-link" href="#">Logout</a>
           </li> -->
         </ul>
       </div>
     </div>
   </nav>
   
   <!-- Bootstrap core JavaScript (make sure it's included at the bottom of your HTML document) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

   