<!-- <app-general-navbar></app-general-navbar> -->
<!-- <app-login></app-login> -->
<!-- <app-home></app-home> -->

<!-- <app-footer></app-footer> -->
<!-- <app-about></app-about> -->

<!-- <app- patient></app-patient> -->
<!-- <app-doctor></app-doctor> -->
<!-- <app-pharmacy></app-pharmacy> -->
<!-- <app-insurance></app-insurance> -->
<!-- <router-outlet></router-outlet> -->


<!-- <app-patient-details></app-patient-details> -->
<!-- Navigation bar -->
<app-general-navbar></app-general-navbar>

<!-- Main content area -->
<div class="container" >
  <router-outlet></router-outlet>
</div>
