<!-- Doctor Component HTML Template -->

<!-- mat-spinner for loading state -->
<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="p-4">

  <!-- Input field to enter patient ID and search button -->
  <div class="mb-4">
    <label for="patientId" class="block mr-2">Enter Patient ID:</label>
    <input
      type="text"
      id="patientId"
      [(ngModel)]="patientId"
      class="border rounded px-3 py-2 mr-3"
    />
    <button
      (click)="patientId !== null && searchPatient(patientId.toString())"
      class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Search
    </button>
  </div>

  <!-- Display patient details if found -->
  <div *ngIf="patientFound" class="mb-4">
    <div class="bg-gray-100 rounded-md p-4">
      <h2 class="text-xl font-bold mb-2">Patient Details</h2>
      <div class="grid grid-cols-3 gap-4">
        <div>
          <p class="font-bold">Patient ID:</p>
          <p>{{ patient.id }}</p>
        </div>
        <div>
          <p class="font-bold">Name:</p>
          <p>{{ patient.name }}</p>
        </div>
        <div>
          <p class="font-bold">Age:</p>
          <p>{{ patient.age }}</p>
        </div>
      </div>

      <!-- Display patient's medical history -->
      <h3 class="text-lg font-bold mt-4">Medical History</h3>
      <div class="grid grid-cols-1 gap-4 mt-2">
        <div class="bg-white shadow-md rounded-md p-4">
          <p class="font-bold">Chronic Diseases:</p>
          <ul class="list-disc ml-4">
            <li *ngFor="let disease of patient.medicalHistory.chronicDiseases">
              {{ disease }}
            </li>
          </ul>
        </div>
        <div class="bg-white shadow-md rounded-md p-4">
          <p class="font-bold">Allergies:</p>
          <ul class="list-disc ml-4">
            <li *ngFor="let allergy of patient.medicalHistory.allergies">
              {{ allergy }}
            </li>
          </ul>
        </div>
        <div class="bg-white shadow-md rounded-md p-4">
          <p class="font-bold">Surgeries:</p>
          <ul class="list-disc ml-4">
            <li *ngFor="let surgery of patient.medicalHistory.surgeries">
              {{ surgery }}
            </li>
          </ul>
        </div>
        <div class="bg-white shadow-md rounded-md p-4">
          <p class="font-bold">Medications:</p>
          <table class="w-full border-collapse border">
            <thead>
              <tr>
                <th class="px-4 py-2 font-bold border">Name</th>
                <th class="px-4 py-2 font-bold border">Dosage</th>
                <th class="px-4 py-2 font-bold border">Frequency</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medication of patient.medicalHistory.medications.medicine" class="bg-white">
                <td class="px-4 py-2 border">{{ medication.medicineName }}</td>
                <td class="px-4 py-2 border">{{ medication.dosage }}</td>
                <td class="px-4 py-2 border">{{ medication.frequency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <!-- Display old prescriptions -->
        <div class="bg-white shadow-md rounded-md p-4">
          <h3 class="text-lg font-bold mt-4">Old Prescriptions</h3>
          <ul class="list-disc ml-4">
            <li *ngFor="let prescription of oldPrescriptions">
              {{ prescription }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Message displayed if no patient is found -->
  <div *ngIf="!patientFound && searchPerformed" class="mb-4">
    <p>No patient found with ID: {{ patientId }}</p>
  </div>

  <!-- Button to toggle report section visibility -->
  <div *ngIf="patientFound" class="mb-4">
    <button
      (click)="toggleReportSection()"
      class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Toggle Report Section
    </button>

    <!-- message boxes taken from https://tailwindcss.com/ -->
    <div *ngIf="showReportSection" class="mt-4">
      <!-- Success message display -->
      <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert" *ngIf="isSuccess">
        <strong class="font-bold">Success! </strong>
        <span class="block sm:inline">{{ successMessage }}</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" (click)="isSuccess = false">
            <title>Close</title>
            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
          </svg>
        </span>
      </div>

      <!-- Error message display -->
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert" *ngIf="isError">
        <strong class="font-bold">An error occurred! </strong>
        <span class="block sm:inline">Please try again.</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" (click)="isError = false">
            <title>Close</title>
            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
          </svg>
        </span>
      </div>

      <app-doctor-report
        [allowedMedicines]="allowedMedicines"
        (reportSubmitted)="handleReportSubmission($event)"
        (prescriptionAdded)="handlePrescriptionAdded($event)"
      ></app-doctor-report>
    </div>
  </div>
</div>
