<div class="flex min-h-screen" style="background:url('/assets/hero.png') center/cover no-repeat; background-color:#444; ">
  <div class="self-center mx-auto text-center text-light md:w-8/12">
    <div class="mb-4">
      <div>
        <h1 class="text-6xl font-bold">With Love and Respect</h1>
      </div>
    </div>

    <div class="mb-8">
      <div>
        <p class="text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus porttitor dui.</p>
        <p class="text-xl">Sim in vestibulum metus pulvinar sit amet.</p>
      </div>
    </div>

  </div>
</div>
