<div class="flex min-h-screen items-center justify-center bg-cover bg-center" style="background:url('/assets/hero.png') center/cover no-repeat; background-color:#444;">
  <div class="text-center text-light md:w-8/12 px-4">
    <div class="mb-4">
      <h1 class="text-4xl md:text-6xl font-bold">With Love and Respect</h1>
    </div>
    <div class="mb-8">
      <p class="text-lg md:text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus porttitor dui.</p>
      <p class="text-lg md:text-xl">Sim in vestibulum metus pulvinar sit amet.</p>
    </div>
  </div>
</div>
