<!-- Patient Details Component -->
<div>
  <h3>Balance: {{ balance }}</h3>
  <div *ngIf="patientPrescriptions.length > 0">
    <h3>Prescriptions</h3>
    <ul>
      <li *ngFor="let prescription of patientPrescriptions">
        {{ prescription.name }} - {{ prescription.state }}
        <button (click)="purchaseOrSell(prescription)" [disabled]="prescription.state !== 'Approved'">
          {{ isPharmacyView ? 'Sell' : 'Purchase' }}
        </button>
      </li>
    </ul>
  </div>
  <div *ngIf="patientPrescriptions.length === 0">
    <p>No prescriptions available.</p>
  </div>
</div>
