<!-- mat-spinner for loading state -->
<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="p-4">
  <h2>Pharmacy</h2>
    <!-- Input field to enter patient ID and search button -->
    <div class="mb-4">
      <label for="patientId" class="block mr-2">Enter Patient ID:</label>
      <input
        type="text"
        id="patientId"
        [(ngModel)]="patientId"
        class="border rounded px-3 py-2 mr-3"
      />
      <button
        (click)="patientId !== null && searchPatient(patientId.toString())"
        class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Search
      </button>
    </div>

  <div *ngIf="patientFound">
    <h4>Balance: ${{ patient.balance }}</h4>

    <!-- Searching -->
    <div>
      <mat-form-field>
        <input matInput #filterInput (keyup)="applyFilter()" placeholder="Filter">
      </mat-form-field>
    </div>


    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Name Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.prescriptionId }}</td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
          <td mat-cell *matCellDef="let row">{{ row.state }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:bg-gray-400 disabled:cursor-not-allowed"
              (click)="sellPrescription($event, row)"
              [disabled]="row.state === 'purchased'"
            >
              Sell
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="viewPrescription(row.prescriptionId)"
        ></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>
  </div>

</div>
<div *ngIf="!patientFound && searchPerformed">
  <p>No patient found with ID: {{ patientId }}</p>
</div>
