<!-- Hero Section -->
<div class="hero-section relative min-h-screen flex items-center justify-center bg-cover bg-center bg-no-repeat" style="background-image: url('/assets/hero.png');">
  <div class="absolute inset-0 bg-black opacity-50"></div> <!-- Semi-transparent overlay -->
  <div class="text-center text-light md:w-8/12 px-4 relative">
    <div class="mb-4">
      <h1 class="text-4xl md:text-6xl font-bold">Health Chain</h1>
    </div>
    <div class="mb-8">
      <p class="text-lg md:text-xl">Thank you for choosing healthchain, we take care of your pharmaceutical needs and provide you the best experience.</p>
      <!-- <p class="text-lg md:text-xl">Sim in vestibulum metus pulvinar sit amet.</p> -->
    </div>
    <a href="/login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login Here</a>
  </div>
</div>

<!-- Main Content -->
<div class="bg-gray-100 py-12">
  <div class="container mx-auto px-4">
    <div class="text-center mb-8">
      <h1 class="text-3xl md:text-4xl font-bold mb-4">Welcome to Our Health Management System</h1>
      <p class="text-lg md:text-xl">
        - Automated reimbursement<br>
        - Trust is our theme and your well-being is our aim.<br>
        - Easy to use and reliable<br><br>
        Welcome to healthchain, healthchain started as a graduation project made by passionate students at the Arab Academy for Science and Technology and Maritime Transport, and right now it is one of the leading insurtech platforms.
      </p>
    </div>

    <div class="text-center mt-8">
      <a href="https://github.com/chainhealth" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Visit our GitHub Repo</a>
    </div>
  </div>
</div>