<!-- mat-spinner for loading state -->
<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<h2>Prescriptions</h2>

<div>
  <mat-form-field>
    <input matInput #filterInput (keyup)="applyFilter()" placeholder="Filter">
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <!-- Prescription ID Column -->
    <ng-container matColumnDef="prescriptionId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prescription ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.prescriptionId}} </mat-cell>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="redirectToPrescription(row.patientId, row.prescriptionId)"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
