<!-- <div class="patient-details-container">
    <h3>Balance: {{ balance }}</h3>
    <div *ngIf="patientPrescriptions.length > 0">
      <h3>Prescriptions</h3>
      <ul>
        <li *ngFor="let prescription of patientPrescriptions">
          {{ prescription.name }} - {{ prescription.state }}
          <button (click)="purchasePrescription(prescription)" [disabled]="prescription.state !== 'Approved'">Purchase</button>
        </li>
      </ul>
      
      
    </div>
    <div *ngIf="patientPrescriptions.length === 0">
      <p>No prescriptions available.</p>
    </div>
  </div>
   -->


<!-- patient-details.component.html -->
<div class="patient-details-container">
  <h3>Balance: {{ balance }}</h3>
  <div *ngIf="patientPrescriptions.length > 0">
    <h3>Prescriptions</h3>
    <ul>
      <li *ngFor="let prescription of patientPrescriptions">
        {{ prescription.name }} - {{ prescription.state }}
        <button (click)="purchaseOrSell(prescription)" [disabled]="prescription.state !== 'Approved'">
          {{ isPharmacyView ? 'Sell' : 'Purchase' }}
        </button>
      </li>
    </ul>
  </div>
  <div *ngIf="patientPrescriptions.length === 0">
    <p>No prescriptions available.</p>
  </div>
</div>
